@model IEnumerable<EsqFeatureToggle.MVC.Models.WeatherForcast>

@{
    ViewData["Title"] = "WeatherForecast";
}

<h1>This is a new Feature WeatherForecast</h1>

<feature name="Freemium">
    <h3>You can see this new feature because you are part of our BETA</h3>

</feature>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemperatureF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
        </tr>
}
    </tbody>
</table>
